body {
    font-family: Arial, sans-serif;
}

h1 {
    color:blue;
}

div {
    background-color: lightgrey;
}

a:hover {
    color:orange;
}

[type="submit"] {
    background-color: orange;
    color:white;
}